<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-list">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-create">Create</a>
        </li>
      </ul>
    </div>
  </nav>
  
